.nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
    top: 0;
    z-index: 99;
    position: fixed;
    background-color: #fff;
}

.nav .logo a{
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.nav .logo a span{
    color: green;
}

.nav ul li{
    display: inline-block;
    margin: 0 15px;
    transition-duration: 0.5s;
}

.nav ul li:hover{
    transform: scale(1.15);
    transition: all 0.2s ease-in-out;
}


.nav ul li a{
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.regBtn{
    color: white;
    background-color: green;
}

.loginBtn{
    color: white;
    background-color: green;
}

.regBtn:hover{
    transform: scale(1.1);
}

.loginBtn:hover{
    transform: scale(1.1);
}

.profileBtn{
    color: white;
    background-color: green;
}

.profileBtn:hover{
    transform: scale(1.1);
}

.logoutBtn{
    color: white;
    background-color: green;
}

.logoutBtn:hover{
    transform: scale(1.1);
}